*.pdf
**/config_private.py
**/config_private.json
.wbienv/**
*.pyc
*.ods#
inguma/content/**
eusterm/wp2dict/awesome-sphere-367416-3a07f9137ac1.json
.idea/*
eusterm/wp2dict/google/awesome-sphere-367416-3a07f9137ac1.json
*.csv#
